body{
	width: 1300px;
	height: 3000px;
}

.menu{
	background: blue;
	position: fixed;
	float: right;
	right: 0;
	padding: 0;
}


.flotante1{
	float: right;
	width: 20%;
	border-left: 20px solid blue;
	padding: 0 20px;
}

.flotante2{
	float: right;
	width: 20%;
	border-left: 20px solid blue;
	padding: 0 20px;
}

.flotante3{
	float: right;
	width: 20%;
	border-left: 20px solid blue;
	padding: 0 20px;
}

.flotante4{
	float: right;
	width: 20%;
	border-left: 20px solid blue;
	padding: 0 20px;
}

